<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name= "com.epam.winterJavaLab.task12.interceptor.CustomInterceptor" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>

</Configuration>